body {
    background-color: #000000;
    color: white;
    padding: 60px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 28px;
    color: whitesmoke;
}

.container {
    margin: auto;
    width: 70vh;
    height: 100vh;
    justify-content: center;
}

.contact-info {
    display: grid;
    grid-template-columns: auto auto auto;
}

.text-info {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.logo {
    border-radius: 50%;
    background-color: #bc9864;
    height: 10vh;
    width: 10vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: black;
    margin: auto;
    font-size: 24px;
}

h4 {
    color: #bc9864;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}

h2 {
    font-size: 24px;
    color: black;
}

.info {
    width: 20vh;
    margin: 0px 10px;
}

.form-page {
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    justify-content: center;
}

.form-elements-size {
    width: 70vh;
    height: 25px;
    margin: 10px 0px;
    border-radius: 3px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.inputs {
    background-color: #1C1C1C;
    padding: 10px;
}

.send-button {
    background-color: #bc9864;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    padding-bottom: 22px;
    cursor: pointer;
    width: 73vh;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-form {
    padding: 10px;
}

.send-button:hover {
    background-color: whitesmoke;
}

#message {
    height: 20vh;
    background-color: #1C1C1C;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
}

.get-in-touch {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
}

a {
    color: white;
}

.error-message {
    color: red;
    font-size: 12px;
}
